In [1]:
import pandas as pd

In [2]:
train_source = pd.read_csv("avg_label.csv")
test_source = pd.read_csv("source.csv")

In [4]:
col1 = train_source.shape[1]
col2 = test_source.shape[1]
print(col1,col2)
row1 = len(train_source)
row2 = len(test_source)
print(row1,row2)

3 76
5000 51490

In [5]:
# join
# 根据 train 中的 id 列过滤 test 中的对应数据
filtered_test = test_source[test_source['original_index'].isin(train_source['index'])]

# 保存为新的 CSV 文件
filtered_test.to_csv("train.csv", index=False)

train = pd.read_csv("train.csv")
# 将 train_source 中的 label 列按 id 匹配合并到 train 中
train = train.merge(train_source[['index', 'label']], left_on='original_index', right_on='index', how='left')

# 删除冗余的 index 列并保存结果
train = train.drop(columns=['index'])
train.to_csv("train.csv", index=False)

print("已生成新的 CSV 文件 'train.csv'，包含与 train 中 id 对应的 5000 条数据")

已生成新的 CSV 文件 'train.csv'，包含与 train 中 id 对应的 5000 条数据

In [6]:
remaining_test = test_source[~test_source['original_index'].isin(train_source['index'])]

# 保存结果为新的 CSV 文件
remaining_test.to_csv("test.csv", index=False)
print("已生成新的 CSV 文件 'test.csv'，其中删除了与 train 中 id 对应的 5000 条数据")

已生成新的 CSV 文件 'test.csv'，其中删除了与 train 中 id 对应的 5000 条数据

In [7]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
train.head(10)

,online_order,book_table,rate,dish_liked,approx_cost_for_one_people,menu_item,original_index,cuisines_word_embedding_PC1,cuisines_word_embedding_PC2,cuisines_word_embedding_PC3,...,Marathahalli,New BEL Road,Old Airport Road,Rajajinagar,Residency Road,Sarjapur Road,Whitefield,predicted_rate,new_rate,label
0,0,0,3.8,2,300.0,0,4,-0.850827,-2.705486,0.586016,...,0,0,0,0,0,0,0,3.800000,3.8,0.52
1,1,0,4.2,7,250.0,1,34,-1.705105,-3.642225,1.086089,...,0,0,0,0,0,0,0,4.200000,4.2,0.56
2,1,0,3.8,7,100.0,0,40,-1.179024,-0.740344,-1.917100,...,0,0,0,0,0,0,0,3.800000,3.8,0.86
3,1,0,3.8,1,75.0,0,62,4.291739,-0.028077,0.780276,...,0,0,0,0,0,0,0,3.800000,3.8,0.60
4,1,0,3.8,1,250.0,0,80,-0.280420,-1.395033,0.889971,...,0,0,0,0,0,0,0,3.800000,3.8,0.68
5,0,0,3.8,2,200.0,0,103,-2.293814,1.254470,0.589672,...,0,0,0,0,0,0,0,3.800000,3.8,0.80
6,0,0,3.2,1,150.0,0,109,-1.037659,-0.791696,-1.929337,...,0,0,0,0,0,0,0,3.719161,3.4,0.66
7,0,0,0.0,1,150.0,0,114,-1.933474,1.686435,0.045060,...,0,0,0,0,0,0,0,3.582741,1.4,0.64
8,0,0,0.0,1,75.0,0,128,-0.648390,1.370996,-1.025303,...,0,0,0,0,0,0,0,3.174222,1.3,0.40
9,0,0,0.0,1,75.0,0,144,-1.456105,2.215195,1.329901,...,0,0,0,0,0,0,0,3.562133,1.4,0.60

In [8]:
row3 = len(train)
row4 = len(test)
col3 = train.shape[1]
col4 = test.shape[1]
print (row3,row4)
print(col3,col4)

4976 46514
77 76